body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: deepskyblue;
}

/* ---------------- GRID POSITIONS ---------------- */
.puzzle-grid-drop {
    width: 200px;
    height: 200px;
    border: 2px dashed white;
    position: absolute;
    overflow: hidden; /* ensures dropped piece stays inside */
}

#grid1-1 { left: 0px;   top: 0px; }
#grid1-2 { left: 200px; top: 0px; }
#grid1-3 { left: 400px; top: 0px; }
#grid2-1 { left: 0px;   top: 200px; }
#grid2-2 { left: 200px; top: 200px; }
#grid2-3 { left: 400px; top: 200px; }
#grid3-1 { left: 0px;   top: 400px; }
#grid3-2 { left: 200px; top: 400px; }
#grid3-3 { left: 400px; top: 400px; }

/* ---------------- PUZZLE PIECES ON RIGHT SIDE ---------------- */
.draggable-piece {
    position: absolute;
    width: 200px;   /* max width suggestion */
    height: 300px;  /* taller than grid, visually prominent */
    cursor: grab;
}

/* ---------------- STACK POSITIONING ---------------- */
/* Column 1 */
#img1-1-draggable { top: 0px;   right: 420px; }
#img2-1-draggable { top: 320px; right: 420px; }
#img3-1-draggable { top: 640px; right: 420px; }

/* Column 2 */
#img1-2-draggable { top: 0px;   right: 180px; }
#img2-2-draggable { top: 320px; right: 180px; }
#img3-2-draggable { top: 640px; right: 180px; }

/* Column 3 */
#img1-3-draggable { top: 0px;   right: -60px; }
#img2-3-draggable { top: 320px; right: -60px; }
#img3-3-draggable { top: 640px; right: -60px; }

/* ---------------- DROPPED PIECE STYLING ---------------- */
.puzzle-grid-drop img.dropped {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
