/* ---------------- BODY ---------------- */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: deepskyblue;
}

/* ---------------- GRID POSITIONS ---------------- */
.puzzle-grid-drop {
    width: 200px;
    height: 200px;
    border: 2px dashed white;
    position: absolute;
    overflow: hidden; /* ensures dropped piece stays inside */
}

#grid1-1 { left: 0px;   top: 0px; }
#grid1-2 { left: 200px; top: 0px; }
#grid1-3 { left: 400px; top: 0px; }
#grid2-1 { left: 0px;   top: 200px; }
#grid2-2 { left: 200px; top: 200px; }
#grid2-3 { left: 400px; top: 200px; }
#grid3-1 { left: 0px;   top: 400px; }
#grid3-2 { left: 200px; top: 400px; }
#grid3-3 { left: 400px; top: 400px; }

/* ---------------- PUZZLE PIECES ON RIGHT SIDE ---------------- */
.draggable-piece {
    position: absolute;
    width: 200px;   /* now matches grid */
    height: 200px;  /* now matches grid */
    cursor: grab;
}

/* Right-side positions */
#img1-1-draggable { top: 0px;   right: 400px; }
#img1-2-draggable { top: 0px;   right: 200px; }
#img1-3-draggable { top: 0px;   right: 0px; }
#img2-1-draggable { top: 220px; right: 400px; }
#img2-2-draggable { top: 220px; right: 200px; }
#img2-3-draggable { top: 220px; right: 0px; }
#img3-1-draggable { top: 440px; right: 400px; }
#img3-2-draggable { top: 440px; right: 200px; }
#img3-3-draggable { top: 440px; right: 0px; }

/* ---------------- DROPPED PIECE STYLING ---------------- */
.puzzle-grid-drop img.dropped {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

